@import "../../Utilities/_Variables.scss";

.movie-card {
  width: 35%;
  margin: 10px;
  background: rgba(211, 135, 135, 0.7);
  display: flex;
  padding: 20px;
  & img {
    width: 50%;
    height: 100%;
  }
}

.movie-card:hover {
  box-shadow: 3px 10px 15px 2px rgba(204, 204, 204, 1);
}

.movie-title {
  text-align: center;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-overview {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
