@import '../../Utilities/_Variables.scss';

.signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 425px;
  margin-top: 25px;

  input {
    padding: 5px;
    margin: 5px 10px;
  }

  button {
    padding: 5px;
    margin: 5px 10px;
  }
}

.success-message {
  border: 1px solid $primary-color;
  padding: 15px;
  text-align: center;
  color: $primary-color;
  background: $primary-color;
  margin-top: 10px; 
  color: $main-background;
  text-decoration: none;

  &:hover {
    background: $primary-hover;
  }
}