@import '../../Utilities/_Variables.scss';

.search-button{
  height: 35px;
  width: 70px;
  background-color: #d38787;
}
.clear-button{
  height: 35px;
  width: 120px;
  background-color: #d38787;
}


.search-input{
  width: 400px;
  height: 30px;
  margin: 20px;
  margin-left: 25%
}

.drop-down{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #595959;
  border-right: 0;
  text-decoration: none;
  color: #595959;
  font-size: 22px;
  margin: auto;
  margin-top: 5px;
  background-color: #d38787;
}